
:root {
    --border-color: #363a43;
    --background-color: #b5c3cd;
    --focus-color: #88929a;
    --text-color: #34444f;
    white-space: normal;
}

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /*to top*/
    height: 100vh;
    margin: 0;
}

.instructions {
    display: flex;
    max-width: 140dvh;
    gap: 5dvh;
    margin: 1em;
    flex-wrap: wrap;
}

.explanation {
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: 1em;
    padding: 1em;
    flex-wrap: wrap;
    max-width: 70dvh;
}

.heap-properties {
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: 1em;
    padding: 1em;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 40dvh;
}


/* Array styling */

.arrays {
    display: grid;
    grid-template-rows: 1fr;
    gap: 3px;
    height: fit-content;
}

.internal-memory {
    display: flex; /*side by side */
    gap: 5px;
}

.internal-array {
    display: flex; /* Makes the ul a flex container */
    list-style: none; /* Removes default bullets */
    padding: 0; /* Removes default left padding/margin */
    margin: 0;
    /* border: 2px solid var(--border-color); */
    color: var(--text-color);
    justify-content: center;
    flex-wrap: wrap;
    min-height: 10dvh;
}

.internal-array li {
    background-color: #fff;
    border: 2px solid var(--border-color);
    border-right:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 11dvh;
    max-width: 12dvh;
}

.internal-array li:last-child{
    border-right: 2px solid var(--border-color);
}

.internal-array .value {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 17px;
    height: 10dvh;
    width: 10dvh;
}

.internal-array li.over {
    background-color: #a2a2a2; 
}

.internal-array .value {
    margin: 0 10px 0 0;
}

.internal-array li.right {
    background-color: #91e3ae;
}

.internal-array li.wrong {
    background-color: rgb(222, 126, 126)
}

.internal-array li.done {
    background-color: rgb(122, 141, 158);
}

.internal-array li.current {
    background-color: #fff585;
}

.swap {
    border: 2px solid #35a7ff;
}

.draggable {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 15px; */
    flex: 1;
}

/** HEAP STYLING **/
.heap {
    display: flex; /* Makes the ul a flex container */
    list-style: none; /* Removes default bullets */
    padding: 0; /* Removes default left padding/margin */
    margin: 0;
    /* border: 2px solid var(--border-color); */
    color: var(--text-color);
    justify-content: center;
    flex-wrap: wrap;
    min-height: 11dvh;
}

.heap li {
    background-color: #fff;
    border: 2px solid var(--border-color);
    border-right:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 11dvh;
    max-width: 12dvh;
}

.heap li:last-child{
    border-right: 2px solid var(--border-color);
}

.heap .value {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 17px;
    height: 10dvh;
    width: 10dvh;
}

.over {
    background-color: #a2a2a2; 
}

.value {
    margin: 0 10px 0 0;
}

.right {
    background-color: #91e3ae;
}

.wrong {
    background-color: rgb(222, 126, 126)
}

.done {
    background-color: rgb(122, 141, 158);
}

.current {
    background-color: #fff585;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1dvh;
}


.button {
    background-color: rgb(149,149,149);
    border: none;
    color: var(--text-color);
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 5px;
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
}

.button:focus {
    outline:none;
}

.locked {
    background-color: #f2ff00;
    border: 2px solid #d9c91b;
}

.internal-array li span {
  /* Optional: Add styling to the nested items */
  margin-bottom: 5px; /* Adds space between the stacked spans */
}


.index-array {
    display: flex; /* Makes the ul a flex container */
    list-style: none; /* Removes default bullets */
    padding: 0; /* Removes default left padding/margin */
    margin: 0;
    color: var(--text-color);
    justify-content: stretch;
    flex-wrap: wrap;
}

.index-array li {
    flex: 1; /*allows stretching*/
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7dvh;
    max-width: 12dvh;
}

.index-array li.sorted {
    background-color: rgba(147, 159, 173, 0.789);
}

.pseudocode {
    margin: 5vh 0 0 0;
    background-color: rgb(149, 149, 149);
    border-radius: 1em;
    padding: 1em;
}

.indent1 {
    margin-left: 3vh;
}
.indent2 {
    margin-left: 6vh;
}

.heap-label {
    border-top: 1px solid black;
}
.array-label {
    border-top: 1px solid black;
}

.tree {
    width: fit-content;
    padding-bottom: 1em;
}

.tree div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 0.5rem;
    margin-top: 1rem;
    position: relative;
}

.tree span {
    grid-column: 1 / 3;
    border: 1px solid var(--border-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: auto auto;
}

.tree span::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1.5rem;
    background: #f002;
    left: 50%;
    top: 0;
    transform: translateY(-100%);
    background: linear-gradient(to bottom right, #0000 49%, #000 51%, #0000 0);
}

.tree :nth-child(3) > span::before {
    left: auto;
    right: 50%;
    background: linear-gradient(to bottom left, #0000 49%, #000 51%, #0000 0);
}

.tree > div > span::before {
    content: none;
}